* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 120%;
    background-color: black;
}

h1 {
    color: whitesmoke;
    background: rgb(143, 164, 188);
    text-shadow: #004089 1px 1px 1px;
}

h3 {
    background: antiquewhite;
    color: rgba(58, 47, 27, 0.534);
}

img.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(8px);
}

ul.types {
    list-style-type: none;
    column-count: 3;
    line-height: 175%;
    width: 600px;
    margin: auto;
}

ul.types li {
    color: white;
    text-shadow: black 0px 0px 8px;
}

a {
    color: rgb(187, 229, 255)
}

div.main {
    text-align: center;
    height: calc(100vh - 8.5ex);
    overflow-y: scroll;
    padding-bottom: 2em;
}

div.footer {
    font-family: Segoe UI;
    position: fixed;
    width: 100%;
    height: 8ex;
    left: 0;
    bottom: 0;
    padding: 1em;
    border-top: 1px solid gray;

    display: flex;
    gap: 2em;
    justify-content: center;
}

div.diapos {
    border: 1px solid gray;
    margin: auto;
    height: 80vh;
    width: calc(80vh * 4/3);
    border-radius: 8px;
}