:root {
    --footer-height: 7ex;
    --column-count: 1;
    --font-size: 80%;
}

@media(max-width: 11rem) {
    div.footer .symbol {
        display: none
    }
}

@media(max-width: 20rem) {
    :root {
        --footer-height: 11ex;
    }
    div.line {
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width: 25rem) {
    :root {
        --column-count: 2;
        --font-size: 100%;
    }
}

@media(min-width: 35rem) {
    :root {
        --column-count: 3;
        --font-size: 120%;
    }
}

@media(min-width: 53.2rem) {
    :root {
        --footer-height: 5ex;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    font-size: var(--font-size);
}

h1 {
    margin-top: 0;
    color: whitesmoke;
    background: rgb(143, 164, 188);
    text-shadow: #004089 1px 1px 1px;
}

h3 {
    background: antiquewhite;
    color: rgba(58, 47, 27, 0.534);
}

img.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(8px);
}

ul.types {
    padding: 0;
    list-style-type: none;
    line-height: 175%;
    margin: auto;
    column-count: var(--column-count);
    width: max-content;
}

ul.types li,
.footer {
    color: white;
    text-shadow: black 0px 0px 8px;
}

a {
    color: rgb(187, 229, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.main {
    text-align: center;
    height: calc(100vh - var(--footer-height) - 0.5ex);
    overflow-y: scroll;
    padding-bottom: 0.25ex;
}

div.footer {
    font-family: Segoe UI;
    position: fixed;
    width: 100%;
    height: var(--footer-height);
    left: 0;
    bottom: 0;
    padding: 0 1em;
    border-top: 1px solid gray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    gap: 0 0.75em;
}

div.line {
    display: flex;
    gap: 0 0.75em;
}

.part {
    display: flex;
    gap: 0.3em;
    align-items: baseline;
    text-align: center;
}

div.swiper {
    backdrop-filter: blur(24px);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 8px;
}

img {
    user-select: none;
}

@media (orientation: landscape) {
    .swiper {
        height: calc(100vh - var(--footer-height) - 1ex);
        width: calc((100vh - var(--footer-height) - 1ex) * 4/3);
    }
}

@media (orientation: portrait) {
    .swiper {
        width: 95vw;
        height: calc(95vw * 3/4);
    }
}